[Unit]
Description=Renew JIRA's let's encrypt certificate with dehydrated

[Timer]
OnCalendar=daily
Persistent=true     

[Install]
WantedBy=timers.target
