[Unit]
Description=Renew JIRA's let's encrypt certificates with dehydrated
Requires=jira.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-compose -f /opt/nginx-jira/docker-compose.yml exec nginx dehydrated --cron
